{% extends 'base.html' %}  
{% block body %}
{% load static %}
<div class="clearfix"></div>
  
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Blog Right Sidebar</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <!-- <li>Blog Right Sidebar</li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container"> 
    <div class="blog-page">
      <div class="row">
        <div class="col-lg-8 col-md-8"> 
          {% for b in bl %}
          <div class="utf_blog_post"> 
            <a href="{% url 'blogdetail' b.slug %}" class="utf_post_img"> <img src="/media/{{b.images}}" alt=""> </a> 
            <div class="utf_post_content">
              <h3><a href="{% url 'blogdetail' b.slug %}">{{b.slug}}</a></h3>
              <ul class="utf_post_text_meta">
                <li>{{b.date}}</li>
                <li>By <a href="#">{{b.posted_by}}</a> Admin</li>
                <li><a href="#">5 Comments</a></li>
              </ul>
              <p>{{b.description}}</p>
              <a href="{% url 'blogdetail' b.slug %}" class="read-more">Read More <i class="fa fa-angle-right"></i></a> 			  
			</div>
          </div>
          {% endfor %}
          {% comment %}
          <div class="utf_blog_post"> 
            <a href="" class="utf_post_img"> <img src="{% static 'images/blog-post-02.jpg' %}" alt=""> </a> 
            <div class="utf_post_content">
              <h3>
                <a href="">Get Alife Insurance for Your Business</a>
              </h3>
              <ul class="utf_post_text_meta">
                <li>Feb 02, 2021 / 12:52 pm</li>
                <li>By <a href="#">Tips</a> Admin</li>
                <li><a href="#">7 Comments</a></li>
              </ul>
              <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.<a href="{% url 'blogdetail' %}">[...]</a></p>
              <a href="" class="read-more">Read More <i class="fa fa-angle-right"></i></a> 
			</div>
          </div>
          
          <div class="utf_blog_post"> 
            <a href="" class="utf_post_img"> <img src="{% static 'images/blog-post-03.jpg' %}" alt=""> </a> 
            <div class="utf_post_content">
              <h3><a href="">Get Alife Insurance for Your Business</a></h3>
              <ul class="utf_post_text_meta">
                <li>Feb 02, 2021 / 12:52 pm</li>
                <li>By <a href="#">Tips</a> Admin</li>
                <li><a href="#">12 Comments</a></li>
              </ul>
              <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.<a href="{% url 'blogdetail' %}">[...]</a></p>
              <a href="" class="read-more">Read More <i class="fa fa-angle-right"></i></a> 
			</div>
          </div>
          {% endcomment %}
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12"> 
              <div class="utf_pagination_container_part margin-bottom-70">
                <nav class="pagination">
                  <ul>
				    <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4">
          <div class="sidebar right"> 
            <div class="utf_box_widget">
              <h3><i class="sl sl-icon-magnifier"></i> Search Blog</h3>
              <div class="utf_search_blog_input">
                <div class="input">
                  <input class="search-field" type="text" placeholder="Search..." value=""/>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            
			<div class="utf_box_widget margin-top-35">
			  <h3><i class="sl sl-icon-folder-alt"></i> Categories</h3>
			  <ul class="utf_listing_detail_sidebar">
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Travel</a></li>
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Nightlife</a></li>
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Fitness</a></li>
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Real Estate</a></li>
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Restaurant</a></li>
				<li><i class="fa fa-angle-double-right"></i> <a href="#">Dance Floor</a></li>			
			  </ul>
			</div>
			
            <div class="utf_box_widget margin-top-40">
              <h3><i class="sl sl-icon-book-open"></i> Popular Post</h3>
              <ul class="utf_widget_tabs">                
                <li>
                  <div class="utf_widget_content">
                    <div class="utf_widget_thum"> <a href=""><img src="{% static 'images/blog-widget-03.jpg' %}" alt=""></a> </div>
                    <div class="utf_widget_text">
                      <h5><a href="">Lorem ipsum dolor sit amet consectetur...</a></h5>
                      <span><i class="fa fa-clock-o"></i> Feb 02, 2021 at 12:52 pm</span> 
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>                
                <li>
                  <div class="utf_widget_content">
                    <div class="utf_widget_thum"> <a href=""><img src="{% static 'images/blog-widget-02.jpg' %}" alt=""></a> </div>
                    <div class="utf_widget_text">
                      <h5><a href="">Lorem ipsum dolor sit amet consectetur...</a></h5>
                      <span><i class="fa fa-clock-o"></i> Feb 02, 2021 at 12:52 pm</span>
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>                
                <li>
                  <div class="utf_widget_content">
                    <div class="utf_widget_thum"> <a href=""><img src="{% static 'images/blog-widget-01.jpg' %}" alt=""></a> </div>
                    <div class="utf_widget_text">
                      <h5><a href="">Lorem ipsum dolor sit amet consectetur...</a></h5>
                      <span><i class="fa fa-clock-o"></i> Feb 02, 2021 at 12:52 pm</span> 
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </div>            
			
			<div class="utf_box_widget margin-top-35">
			  <h3><i class="sl sl-icon-phone"></i> Quick contact to help?</h3>
			  <p>Excepteur sint occaecat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
			  <ul class="utf_social_icon rounded">
				<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
				<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>				
			  </ul>
			  <a class="utf_progress_button button fullwidth_block margin-top-5" href="contact.html">Contact Us</a> 
			</div>
				
            <div class="clearfix"></div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="utf_cta_area_item utf_cta_area2_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_subscribe_block clearfix">
                    <div class="col-md-8 col-sm-7">
                        <div class="section-heading">
                            <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                            <p class="utf_sec_meta">
                                Subscribe to get latest updates and information.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-form-action">
                            <form method="post">
                                <span class="la la-envelope-o"></span>
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                                <button class="utf_theme_btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
	</section>
  {% endblock %}