{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="clearfix"></div>
  <div class="fs-container">
    <div class="fs-inner-container content">
      <div class="fs-content">
        <div class="search">
          <div class="row">
            <div class="col-md-12">
              <div class="row with-forms">
                <div class="col-fs-6">
                  <div class="input-with-icon"> <i class="sl sl-icon-magnifier"></i>
                    <input type="text" placeholder="What are you looking for?" value=""/>
                  </div>
                </div>
                <div class="col-fs-6">
                  <div class="intro-search-field utf-chosen-cat-single">
					  <select class="selectpicker default" data-selected-text-format="count" data-size="7" title="Select Location">
						<option>Afghanistan</option>
						<option>Albania</option>
						<option>Algeria</option>
						<option>Brazil</option>
						<option>Burundi</option>
						<option>Bulgaria</option>
						<option>Germany</option>
						<option>Grenada</option>
						<option>Guatemala</option>
						<option>Iceland</option>
					  </select>
				  </div>
                </div>
                <div class="col-md-12 col-xs-12">
                  <div class="listing_filter_block">
                    <div class="col-md-3 col-xs-3">
                      <div class="utf_layout_nav"> <a href="listings_half_screen_map_grid.html" class="grid"><i class="fa fa-th"></i></a> <a href="#" class="list active"><i class="fa fa-align-justify"></i></a> </div>
                    </div>
                    <div class="col-md-9 col-xs-9">
                      <div class="sort-by utf_panel_dropdown sort_by_margin float-right"> <a href="#">Destination</a>
                        <div class="utf_panel_dropdown-content">
                          <input class="distance-radius" type="range" min="1" max="999" step="1" value="1" data-title="Select Range">
                          <div class="panel-buttons">
                            <button class="panel-apply">Apply</button>
                          </div>
                        </div>
                      </div>
                      <div class="sort-by">
                        <div class="utf_sort_by_select_item sort_by_margin">
                            <select data-placeholder="Sort by Listing" class="utf_chosen_select_single">
							  <option>Sort by Listing</option>
							  <option>Latest Listings</option>
							  <option>Popular Listings</option>
							  <option>Price (Low to High)</option>
							  <option>Price (High to Low)</option>
							  <option>Highest Reviewe</option>
							  <option>Lowest Reviewe</option>                  
							  <option>Newest Listing</option>
							  <option>Oldest Listing</option>
							  <option>Random Listings</option>
							</select>
                        </div>
                      </div>
                      <div class="sort-by">
                        <div class="utf_sort_by_select_item sort_by_margin">
                            <select data-placeholder="Categories:" class="utf_chosen_select_single">
							  <option>Categories</option>
							  <option>Restaurant</option>
							  <option>Health</option>
							  <option>Hotels</option>
							  <option>Real Estate</option>                  
							  <option>Fitness</option>                  
							  <option>Shopping</option>							  
							</select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="listings-container margin-top-30">
          <div class="row fs-switcher">
            <div class="col-md-12">
              <p class="showing-results">06 Results Found</p>
            </div>
          </div>
          <div class="row fs-listings">
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-01.jpg" alt=""> 
					<span class="like-icon"></span> 
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span> 
					<span class="featured_tag">Featured</span> 
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $45 - $70</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
					</div>	
				</div>
				<span class="utf_open_now">Open Now</span> 
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>Chontaduro Barcelona <i class="utf_approve_listing"></i></h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="4.5">
                      <div class="utf_counter_star_rating">(4.5)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-02.jpg" alt=""> 
					<span class="like-icon"></span> 
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span> 
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $25 - $45</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
				    </div>
				</div>
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>The Lounge & Bar</h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="5.0">
                      <div class="utf_counter_star_rating">(5)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-03.jpg" alt=""> 
					<span class="like-icon"></span> 
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span>
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $45 - $70</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
					</div>
				</div>
				<span class="utf_closed">Closed</span>
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>Westfield Sydney <i class="utf_approve_listing"></i></h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="2.0">
                      <div class="utf_counter_star_rating">(2)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-04.jpg" alt=""> 
					<span class="like-icon"></span> 
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span> 
					<span class="featured_tag">Featured</span> 
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $25 - $45</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
				    </div>
				</div>
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>Ruby Beauty Center</h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="5.0">
                      <div class="utf_counter_star_rating">(5)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-05.jpg" alt=""> 
					<span class="like-icon"></span> 
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span> 
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $45 - $70</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
					</div>
				</div>
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>UK Fitness Club <i class="utf_approve_listing"></i></h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="4.5">
                      <div class="utf_counter_star_rating">(4.5)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="utf_listing_item-container list-layout"> <a href="listings_single_page_1.html" class="utf_listing_item">
                <div class="utf_listing_item-image"> 
					<img src="images/utf_listing_item-06.jpg" alt="">
					<span class="like-icon"></span>	
					<span class="tag"><i class="im im-icon-Hotel"></i> Hotels</span> 
					<div class="utf_listing_prige_block utf_half_list">							
						<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $25 - $45</span>					
						<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>
				    </div>
				</div>
				<span class="utf_closed">Closed</span> 
                <div class="utf_listing_item_content">
                  <div class="utf_listing_item-inner">
                    <h3>Fairmont Pacific Rim</h3>
                    <span><i class="fa fa-map-marker"></i> The Ritz-Carlton, Hong Kong</span>
					<span><i class="fa fa-phone"></i> (+15) 124-796-3633</span>
                    <div class="utf_star_rating_section" data-rating="5.0">
                      <div class="utf_counter_star_rating">(5)</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar...</p>
                  </div>
                </div>
                </a> 
			  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="utf_pagination_container_part margin-top-20 margin-bottom-0">
                    <nav class="pagination">
                      <ul>
                        <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </section>
		<div class="clearfix"></div>
		  <div class="col-md-12">
			<div class="footer_copyright_part">Copyright © 2021 All Rights Reserved.</div>
		  </div>
      </div>
    </div>
    <div class="fs-inner-container map-fixed">
      <div id="utf_map_container">
        <div id="map" data-map-zoom="9" data-map-scroll="true"> </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts --> 
<script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script> 
<script src="{% static 'scripts/chosen.min.js' %}"></script> 
<script src="{% static 'scripts/slick.min.js' %}"></script> 
<script src="{% static 'scripts/rangeslider.min.js' %}"></script> 
<script src="{% static 'scripts/bootstrap-select.min.js' %}"></script>
<script src="{% static 'scripts/magnific-popup.min.js' %}"></script> 
<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
<script src="{% static 'scripts/mmenu.js' %}"></script> 
<script src="{% static 'scripts/tooltips.min.js' %}"></script> 
<script src="{% static 'scripts/color_switcher.js' %}"></script>
<script src="{% static 'scripts/jquery_custom.js' %}"></script>

<!-- Style Switcher -->
<div id="color_switcher_preview">
  <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>	
	<div>
		<ul class="colors" id="color1">
			<li><a href="#" class="stylesheet"></a></li>
			<li><a href="#" class="stylesheet_1"></a></li>
			<li><a href="#" class="stylesheet_2"></a></li>			
			<li><a href="#" class="stylesheet_3"></a></li>						
			<li><a href="#" class="stylesheet_4"></a></li>
			<li><a href="#" class="stylesheet_5"></a></li>			
		</ul>
	</div>		
</div>

<!-- Maps --> 
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script> 
<script src="{% static 'scripts/infobox.min.js' %}"></script> 
<script src="{% static 'scripts/markerclusterer.js' %}"></script> 
<script src="{% static 'scripts/maps.js' %}"></script>
{% endblock %}