{% extends 'base.html' %} 
{% block body  %}
{% load static %}
<div class="clearfix"></div>
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Choose Payment Option</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li>Choose Payment Option</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container margin-bottom-75">
    <div class="row">
      <div class="col-lg-8 col-md-8 utf_listing_payment_section">
	    <div class="utf_booking_listing_section_form margin-bottom-40">
		  <h3><i class="sl sl-icon-paper-plane"></i> Billing Information</h3>
		  <form method="post" action="" id="my_form">
			{% csrf_token %}
			<div class="row">
			  <div class="col-md-6">
				<label>First Name</label>
				<input type="text" value="" name="fname" placeholder="First Name">
			  </div>
			  <div class="col-md-6">
				<label>Last Name</label>
				<input type="text" value="" name="lname" placeholder="Last Name">
			  </div>
			  <div class="col-md-6">
				<div class="medium-icons">
				  <label>E-Mail</label>
				  <input type="text" value="" name="email" placeholder="Email">
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="medium-icons">
				  <label>Phone</label>
				  <input type="number" value="" name="mobile" placeholder="Phone">
				</div>
			  </div>
			  <div onclick="submit_form()">Click Me To Submit</div>
			</form>
			</div>
			
		</div>
		
		<div class="utf_booking_payment_option_form">
		  <h3><i class="sl sl-icon-credit-card "></i> Payment Method</h3>
		  <div id="paypal-button-container"></div>
			<!-- <div class="payment">
			  <div class="utf_payment_tab_block">
				<div class="utf_payment_trigger_tab">
				  <input checked="" id="stripe" name="cardType" type="radio" value="stripe">
				  <label for="stripe">Paywith Stripe</label>
				  <img class="utf_payment_logo stripe" src="{% static 'images/stripe.png' %}" alt=""> 
				</div>
				<div class="utf_payment_tab_block_content">				  
				  <div class="row">
					<div class="col-md-6">
					  <div class="card-label">
						<label for="name">Name</label>
						<input id="nameOnCard" name="stripename" placeholder="Name" required="" type="text">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="card-label">
						<label for="email">Email</label>
						<input id="email" name="email" placeholder="Email" required="" type="text">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="card-label">
						<label for="phoneNumber">Phone Number</label>
						<input id="phoneNumber" placeholder="Phone Number" required="" type="text">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="card-label">
						<label for="couponCode">Coupon Code?</label>
						<input id="couponCode" placeholder="Coupon Code" required="" type="text">
					  </div>
					</div>
				  </div>
				</div>
			  </div>
				
			  <div class="utf_payment_tab_block">
				<div class="utf_payment_trigger_tab">
				  <input checked="" id="paypal" name="cardType" type="radio" value="paypal">
				  <label for="paypal">PayPal</label>
				  <img class="utf_payment_logo paypal" src="{% static 'images/paypal_pay.png' %}" alt=""> 
				  
				</div>
				<div class="utf_payment_tab_block_content">				  
				  <p>You will be Redirected to PayPal to Complete Payment.</p>
				</div>
			  </div>			  			 
			  
			  <div class="utf_payment_tab_block utf_payment_tab_block_active">
				<div class="utf_payment_trigger_tab">
				  <input type="radio" name="cardType" id="creditCart" value="creditCard">
				  <label for="creditCart">Credit / Debit Card</label>
				  <img class="utf_payment_logo" src="{% static 'images/pay_icon.png' %}" alt=""> 
				</div>
				<div class="utf_payment_tab_block_content">
				  <div class="row">					
					<div class="col-md-6">
					  <div class="card-label">
						<label for="cardNumber">Card Number</label>
						<input id="cardnumber" name="cardNumber" placeholder="0000  0000  0000  0000" required="" type="text">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="card-label">
						<label for="nameOnCard">Card Holder Name</label>
						<input id="cardname" name="cardName" placeholder="Card Holder Name" required="" type="text">
					  </div>
					</div>
					<div class="col-md-4">
					  <div class="card-label">
						<label for="expirynDate">Expiry Month</label>
						<input id="expiryDate" placeholder="MM" required="" type="text">
					  </div>
					</div>
					<div class="col-md-4">
					  <div class="card-label">
						<label for="expiryDate">Expiry Year</label>
						<input id="expirynDate" placeholder="YYYY" required="" type="text">
					  </div>
					</div>
					<div class="col-md-4">
					  <div class="card-label">
						<label for="cvv">CVV Code</label>
						<input id="cvv" required="" placeholder="***" type="text">
					  </div>
					</div>
				  </div>
				</div>
				
				
			  </div>
			</div> -->
			<!-- <a href="{% url 'bookingconfirm' %}" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Confirm Now</a> 		 -->
		</div>
	  </div>
      <div class="col-lg-4 col-md-4 margin-top-0 utf_listing_payment_section">
        <div class="utf_booking_listing_item_container compact utf_order_summary_widget_section">
          <div class="listing-item"> <img src="/media/{{list_booked.images}}" alt="">
            <div class="utf_listing_item_content">              
              <h3>{{list_booked.name}}</h3>
              <span><i class="fa fa-map-marker"></i> {{list_booked.address}}</span>
						<span><i class="fa fa-phone"></i> (+15) {{list_booked.mobile}}</span>											
			  <div class="utf_star_rating_section" data-rating="4.5">
				<div class="utf_counter_star_rating">(18) Reviews</div>
			  </div>
			</div>
          </div>
        </div>
        <div class="boxed-widget opening-hours summary margin-top-0">
          <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
          <ul>
            <li>Appearing  <span>{{bk.date}}</span></li>
			<li>Time<span>{{bk.time}} PM</span></li>
			<!-- <li>Disappearing <span>16 Jan 2021</span></li>             -->
            <li>Guests <span>{{bk.guests}}</span></li>
			<!-- <li>Deposit <span>$230.00</span></li> -->
			<!-- <li>V.A.T <span>$18.00</span></li> -->
			<li class="total-costs">Sub Total <span>${{amount}}</span></li>
			<li class="total-costs">
				<!-- <div class="col-md-8">
				  <input id="couponCode" placeholder="Have a coupon enter here..." required="" type="text">
				</div>
				<div class="col-md-4">
				  <input type="submit" class="coupon_code" value="Apply">	
				</div>
				<div class="clearfix"></div> -->
			</li>
            <li class="total-costs">Total Cost <span>${{amount}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <section class="utf_cta_area_item utf_cta_area2_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_subscribe_block clearfix">
                    <div class="col-md-8 col-sm-7">
                        <div class="section-heading">
                            <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                            <p class="utf_sec_meta">
                                Subscribe to get latest updates and information.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-form-action">
                            <form method="post">
                                <span class="la la-envelope-o"></span>
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                                <button class="utf_theme_btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
	</section>
	
	<!-- PAyment -->
	<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad7HduBvuq2Q_dVHhjLbRXyXB0zI7R4pkkTWRuyUyJkOnwydjWkoGlGgWU7V91dX8xIDB_3cRpklPzUz
&currency=USD"></script>

<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad7HduBvuq2Q_dVHhjLbRXyXB0zI7R4pkkTWRuyUyJkOnwydjWkoGlGgWU7V91dX8xIDB_3cRpklPzUz
&currency=USD"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>


<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad7HduBvuq2Q_dVHhjLbRXyXB0zI7R4pkkTWRuyUyJkOnwydjWkoGlGgWU7V91dX8xIDB_3cRpklPzUz"></script>
<!-- Set up a container element for the button -->
<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '10' // Can also reference a variable or function
          }
        }]
      });
    },
  
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
  
</script>
<script>
	function submit_form() {
	  var form = document.getElementById('my_form')
	  form.submit();
	}
  </script>
  {% endblock %}